.cart-content {
  margin-top: 15vh;
  text-align: center;
  padding: 0 20%;
}

h2 {
  color: white;
  font-weight: 900;
  margin-bottom: 40px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.cart-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #3e7ceb;
  border-radius: 5px;
  max-width: 200px;
  max-height: 200px;
  min-height: 200px;
  min-width: 200px;
}

.item-details h3 {
  color: white;
  font-weight: 600;
  margin: 0;
}

.item-details p {
  color: white;
}
.item-details{
  width: 30%;
}

.item-quantity input {
  width: 40px;
  border: 2px solid #3e7ceb;
  border-radius: 5px;
  padding: 5px;
  color: #3e7ceb;
  text-align: center;
}

.item-total p {
  color: white;
  font-weight: 600;
  margin: 0;
}
.item-total{
  width: 20%;
}

.item-remove button {
  background: #3e7ceb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.item-remove{
  width: 10%;
}

.cart-summary {
  margin-top: 20px;
  text-align: center;
}

.cart-summary p {
  color: white;
  font-weight: 600;
}

button {
  background: #3e7ceb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background: none;
  border: 2px solid #3e7ceb;
}

.item-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 10px;
  width: 20%;
}

.quantity-button {
  background: #3e7ceb;
  color: white;
  border: 2px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }
  .cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #3e7ceb;
    border-radius: 5px;
  }
  .item-details{
    width: 100%;
  }
  .item-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
    width: 100%;
  }
  .item-remove{
    width: 100%;
  }
  .item-total{
    width: 100%;
  }
  .cart-summary {
    margin-top: 40px;
    text-align: center;
    display:flex;
    flex-direction: column;
    gap: 20px;
  }
  .cart-summary button{
    margin-top: 10px;
  }
}