body {
  background: url("../images/background-static-2.jpg");
  background-size: contain;
}

.form-content {
  margin-top: 15vh;
  text-align: center;
  padding: 0 30%;
}

h2 {
  color: white;
  font-weight: 900;
  margin-bottom: 40px;
}

form {
  background: transparent;
  color: white;
  border: 2px solid #3e7ceb;
  padding: 30px 40px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.form-item input,
.form-item select {
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
  border: 3px solid #3e7ceb;
  padding: 5px;
  color: #3e7ceb;
}

.form-item input:focus {
  border: 3px solid #3e7ceb;
  box-shadow: 1px 1px 15px #3e7ceb;
}

input[type="submit"] {
  background: #3e7ceb;
  color: white;
  transition: all 0.3s;
}

input[type="submit"]:hover {
  background: none;
  border: 3px solid #3e7ceb;
  cursor: pointer;
}

@media (max-width: 768px) {
  .form-content {
    padding: 0 20px;
  }
}
